In [1]:
#import dependencies
import os
import csv
import pandas as pd

In [2]:
# Path to collect data from the Resources folder

#1 - COVID-19 - Confirmed, Deaths and Recovered Counts

file_path = os.path.join('..', 'Resources', 'Kaggle_Covid_19_worldwide_data_set.csv')

# Import the Kaggle_Covid_19_worldwide_data_set.csv file as a DataFrame
covid_df=pd.read_csv(file_path)

covid_df.head(5)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [3]:
####Cleansing

covid_df['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia',
       'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France',
       'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast',
       'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy',
       'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt',
       'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan',
       'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia',
       'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia',
       'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands',
       'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania',
       'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic',
       'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
       'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal',
       'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy',
       'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland',
       'Tunisia', 'Palestine', 'Bosnia and Herzegovina', 'Slovenia',
       'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica', 'Peru',
       'Serbia', 'Slovakia', 'Togo', 'Vatican City', 'French Guiana',
       'Malta', 'Martinique', 'Republic of Ireland', 'Bulgaria',
       'Maldives', 'Bangladesh', 'Moldova', 'Paraguay', 'Albania',
       'Cyprus', 'St. Martin', 'Brunei', 'occupied Palestinian territory',
       "('St. Martin',)", 'Burkina Faso', 'Channel Islands', 'Holy See',
       'Mongolia', 'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)',
       'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos',
       'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Western Sahara', 'Sao Tome and Principe', 'Yemen',
       'Comoros', 'Tajikistan', 'Lesotho'], dtype=object)

In [4]:
covid_df['Country/Region']= covid_df['Country/Region'].replace({
    "('St. Martin',)"  : 'St. Martin'
    })
covid_df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
116800,116801,09/23/2020,Zaporizhia Oblast,Ukraine,2020-09-24 4:23,3149,49,1158
116801,116802,09/23/2020,Zeeland,Netherlands,2020-09-24 4:23,1270,72,0
116802,116803,09/23/2020,Zhejiang,Mainland China,2020-09-24 4:23,1282,1,1272
116803,116804,09/23/2020,Zhytomyr Oblast,Ukraine,2020-09-24 4:23,5191,92,2853
116804,116805,09/23/2020,Zuid-Holland,Netherlands,2020-09-24 4:23,29513,1372,0

In [5]:
covid_df['ObservationDate_dt']=pd.to_datetime(covid_df['ObservationDate'], format='%m/%d/%Y')

In [6]:
agg_dict={
    'Confirmed': [pd.Series.max, pd.Series.mean],
    'Deaths': [pd.Series.max, pd.Series.mean],
    'Recovered': [pd.Series.max, pd.Series.mean]
}
covid_df_grouped=covid_df.set_index('ObservationDate_dt')

covid_df_grouped=covid_df_grouped.groupby([pd.Grouper(freq='M'), 'Country/Region']).\
                          agg(agg_dict)

covid_df_grouped

                                      Confirmed               Deaths  \
                                            max          mean    max
ObservationDate_dt Country/Region
2020-01-31         Australia                  4      2.733333      0
                   Brazil                     0      0.000000      0
                   Cambodia                   1      1.000000      0
                   Canada                     2      1.200000      0
                   Colombia                   0      0.000000      0
...                                         ...           ...    ...
2020-09-30         West Bank and Gaza     37083  30186.826087    272
                   Western Sahara            10     10.000000      1
                   Yemen                   2029   2004.913043    586
                   Zambia                 14443  13411.695652    332
                   Zimbabwe                7725   7344.608696    227

                                                  Recovered
                                             mean       max          mean
ObservationDate_dt Country/Region
2020-01-31         Australia             0.000000         2      0.266667
                   Brazil                0.000000         0      0.000000
                   Cambodia              0.000000         0      0.000000
                   Canada                0.000000         0      0.000000
                   Colombia              0.000000         0      0.000000
...                                           ...       ...           ...
2020-09-30         West Bank and Gaza  214.260870     26288  20181.956522
                   Western Sahara        1.000000         8      8.000000
                   Yemen               579.478261      1245   1209.956522
                   Zambia              311.043478     13629  12373.043478
                   Zimbabwe            218.478261      6007   5638.217391

[1446 rows x 6 columns]

In [7]:
covid_df_grouped.reset_index(inplace=True)

In [8]:
covid_df_grouped['ObservationDate_dt'].unique()

array(['2020-01-31T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-03-31T00:00:00.000000000', '2020-04-30T00:00:00.000000000',
       '2020-05-31T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [9]:
covid_df_grouped['Confirmed']['max']

0           4
1           0
2           1
3           2
4           0
        ...
1441    37083
1442       10
1443     2029
1444    14443
1445     7725
Name: max, Length: 1446, dtype: int64

In [10]:
pd.__version__

'1.0.5'

In [11]:
### focus on Canada

canada_covid_df= covid_df_grouped[covid_df_grouped["Country/Region"] == "Canada"]
canada_covid_df

     ObservationDate_dt Country/Region Confirmed              Deaths  \
                                             max         mean    max
3            2020-01-31         Canada         2     1.200000      0
40           2020-02-29         Canada        10     2.720930      0
129          2020-03-31         Canada      4162   181.226481     33
339          2020-04-30         Canada     27550  2151.357309   1859
528          2020-05-31         Canada     51059  5301.387025   4641
718          2020-06-30         Canada     55458  7199.124105   5503
908          2020-07-31         Canada     59312  7972.776498   5674
1098         2020-08-31         Canada     62492  8880.301843   5760
1288         2020-09-30         Canada     69088  9939.661491   5809

                 Recovered
            mean       max         mean
3       0.000000         0     0.000000
40      0.000000         3     0.523256
129     1.965157      1592    13.540070
339    94.097448     21424   689.053364
528   389.413870     35177  2567.897092
718   586.751790     31870  4350.627685
908   632.387097     50886  6121.179724
1098  648.338710     55353  7842.149770
1288  659.009317     59686  8725.549689

In [12]:
### filtered to include March 2020 onwards
canada_covid_df["ObservationDate_dt"] >= "2020-03-01"
canada_covid_df2 = canada_covid_df[canada_covid_df["ObservationDate_dt"] >= "2020-03-01"]
canada_covid_df2

     ObservationDate_dt Country/Region Confirmed              Deaths  \
                                             max         mean    max
129          2020-03-31         Canada      4162   181.226481     33
339          2020-04-30         Canada     27550  2151.357309   1859
528          2020-05-31         Canada     51059  5301.387025   4641
718          2020-06-30         Canada     55458  7199.124105   5503
908          2020-07-31         Canada     59312  7972.776498   5674
1098         2020-08-31         Canada     62492  8880.301843   5760
1288         2020-09-30         Canada     69088  9939.661491   5809

                 Recovered
            mean       max         mean
129     1.965157      1592    13.540070
339    94.097448     21424   689.053364
528   389.413870     35177  2567.897092
718   586.751790     31870  4350.627685
908   632.387097     50886  6121.179724
1098  648.338710     55353  7842.149770
1288  659.009317     59686  8725.549689

In [13]:
### focus on US Data only

us_covid_df= covid_df_grouped[covid_df_grouped["Country/Region"] == "US"]
us_covid_df

     ObservationDate_dt Country/Region Confirmed                Deaths  \
                                             max           mean    max
27           2020-01-31             US         2       1.233333      0
92           2020-02-29             US        44       2.087209      1
294          2020-03-31             US     75833     612.652762   1550
483          2020-04-30             US    304372   11217.465517  23587
673          2020-05-31             US    370770   25146.461624  29784
863          2020-06-30             US    393454   37300.459770  32032
1053         2020-07-31             US    500556   61840.110122  32689
1243         2020-08-31             US    712475   92519.717464  32957
1433         2020-09-30             US    796436  111939.406297  33092

                  Recovered
             mean       max          mean
27       0.000000         0      0.000000
92       0.002907         2      0.255814
294     10.260428      7024     10.915445
483    552.020115    153947   1004.584483
673   1498.233037    444758   4849.859288
863   2010.520115    720631  10019.713793
1053  2395.857063   1438160  18925.660734
1243  2926.284761   2184825  31633.760845
1433  3335.234633   2670256  42041.946777

In [15]:
### filtered to include March 2020 onwards
us_covid_df["ObservationDate_dt"] >= "2020-03-01"
us_covid_df2 = us_covid_df[us_covid_df["ObservationDate_dt"] >= "2020-03-01"]
us_covid_df2

     ObservationDate_dt Country/Region Confirmed                Deaths  \
                                             max           mean    max
294          2020-03-31             US     75833     612.652762   1550
483          2020-04-30             US    304372   11217.465517  23587
673          2020-05-31             US    370770   25146.461624  29784
863          2020-06-30             US    393454   37300.459770  32032
1053         2020-07-31             US    500556   61840.110122  32689
1243         2020-08-31             US    712475   92519.717464  32957
1433         2020-09-30             US    796436  111939.406297  33092

                  Recovered
             mean       max          mean
294     10.260428      7024     10.915445
483    552.020115    153947   1004.584483
673   1498.233037    444758   4849.859288
863   2010.520115    720631  10019.713793
1053  2395.857063   1438160  18925.660734
1243  2926.284761   2184825  31633.760845
1433  3335.234633   2670256  42041.946777