In [1]:
#import dependencies
import os
import csv
import pandas as pd

In [2]:
# Path to collect data from the Resources folder

#1 - COVID-19 - Confirmed, Deaths and Recovered Counts

file_path = os.path.join('..', 'Resources', 'Kaggle_Covid_19_worldwide_data_set.csv')

# Import the Kaggle_Covid_19_worldwide_data_set.csv file as a DataFrame
covid_df=pd.read_csv(file_path)

covid_df.head(5)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [3]:
####Cleansing

covid_df['Country/Region'].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia',
       'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France',
       'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast',
       'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy',
       'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt',
       'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan',
       'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia',
       'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia',
       'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands',
       'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania',
       'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg',
       'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic',
       'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal',
       'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal',
       'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy',
       'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland',
       'Tunisia', 'Palestine', 'Bosnia and Herzegovina', 'Slovenia',
       'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica', 'Peru',
       'Serbia', 'Slovakia', 'Togo', 'Vatican City', 'French Guiana',
       'Malta', 'Martinique', 'Republic of Ireland', 'Bulgaria',
       'Maldives', 'Bangladesh', 'Moldova', 'Paraguay', 'Albania',
       'Cyprus', 'St. Martin', 'Brunei', 'occupied Palestinian territory',
       "('St. Martin',)", 'Burkina Faso', 'Channel Islands', 'Holy See',
       'Mongolia', 'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)',
       'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos',
       'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Western Sahara', 'Sao Tome and Principe', 'Yemen',
       'Comoros', 'Tajikistan', 'Lesotho'], dtype=object)

In [4]:
covid_df['Country/Region']= covid_df['Country/Region'].replace({
    "('St. Martin',)"  : 'St. Martin'
    })
covid_df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
116800,116801,09/23/2020,Zaporizhia Oblast,Ukraine,2020-09-24 4:23,3149,49,1158
116801,116802,09/23/2020,Zeeland,Netherlands,2020-09-24 4:23,1270,72,0
116802,116803,09/23/2020,Zhejiang,Mainland China,2020-09-24 4:23,1282,1,1272
116803,116804,09/23/2020,Zhytomyr Oblast,Ukraine,2020-09-24 4:23,5191,92,2853
116804,116805,09/23/2020,Zuid-Holland,Netherlands,2020-09-24 4:23,29513,1372,0

In [5]:
covid_df['ObservationDate_dt']=pd.to_datetime(covid_df['ObservationDate'], format='%m/%d/%Y')

In [14]:
agg_dict={
    'Confirmed': [pd.Series.sum, pd.Series.mean],
    'Deaths': [pd.Series.sum, pd.Series.mean],
    'Recovered': [pd.Series.sum, pd.Series.mean]
}
covid_df_grouped=covid_df.set_index('ObservationDate_dt')

covid_df_grouped=covid_df_grouped.groupby([pd.Grouper(freq='M'), 'Country/Region']).\
                          agg(agg_dict)

covid_df_grouped

                                      Confirmed               Deaths  \
                                            sum          mean    sum
ObservationDate_dt Country/Region
2020-01-31         Australia                 41      2.733333      0
                   Brazil                     0      0.000000      0
                   Cambodia                   5      1.000000      0
                   Canada                    12      1.200000      0
                   Colombia                   0      0.000000      0
...                                         ...           ...    ...
2020-09-30         West Bank and Gaza    694297  30186.826087   4928
                   Western Sahara           230     10.000000     23
                   Yemen                  46113   2004.913043  13328
                   Zambia                308469  13411.695652   7154
                   Zimbabwe              168926   7344.608696   5025

                                                  Recovered
                                             mean       sum          mean
ObservationDate_dt Country/Region
2020-01-31         Australia             0.000000         4      0.266667
                   Brazil                0.000000         0      0.000000
                   Cambodia              0.000000         0      0.000000
                   Canada                0.000000         0      0.000000
                   Colombia              0.000000         0      0.000000
...                                           ...       ...           ...
2020-09-30         West Bank and Gaza  214.260870    464185  20181.956522
                   Western Sahara        1.000000       184      8.000000
                   Yemen               579.478261     27829   1209.956522
                   Zambia              311.043478    284580  12373.043478
                   Zimbabwe            218.478261    129679   5638.217391

[1446 rows x 6 columns]

In [15]:
covid_df_grouped.reset_index(inplace=True)

In [16]:
covid_df_grouped['ObservationDate_dt'].unique()

array(['2020-01-31T00:00:00.000000000', '2020-02-29T00:00:00.000000000',
       '2020-03-31T00:00:00.000000000', '2020-04-30T00:00:00.000000000',
       '2020-05-31T00:00:00.000000000', '2020-06-30T00:00:00.000000000',
       '2020-07-31T00:00:00.000000000', '2020-08-31T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [17]:
covid_df_grouped['Confirmed']['sum']

0           41
1            0
2            5
3           12
4            0
         ...
1441    694297
1442       230
1443     46113
1444    308469
1445    168926
Name: sum, Length: 1446, dtype: int64

In [18]:
pd.__version__

'1.0.5'

In [19]:
### focus on Canada

canada_covid_df= covid_df_grouped[covid_df_grouped["Country/Region"] == "Canada"]
canada_covid_df

     ObservationDate_dt Country/Region Confirmed               Deaths  \
                                             sum         mean     sum
3            2020-01-31         Canada        12     1.200000       0
40           2020-02-29         Canada       234     2.720930       0
129          2020-03-31         Canada     52012   181.226481     564
339          2020-04-30         Canada    927235  2151.357309   40556
528          2020-05-31         Canada   2369720  5301.387025  174068
718          2020-06-30         Canada   3016433  7199.124105  245849
908          2020-07-31         Canada   3460185  7972.776498  274456
1098         2020-08-31         Canada   3854051  8880.301843  281379
1288         2020-09-30         Canada   3200571  9939.661491  212201

                 Recovered
            mean       sum         mean
3       0.000000         0     0.000000
40      0.000000        45     0.523256
129     1.965157      3886    13.540070
339    94.097448    296982   689.053364
528   389.413870   1147850  2567.897092
718   586.751790   1822913  4350.627685
908   632.387097   2656592  6121.179724
1098  648.338710   3403493  7842.149770
1288  659.009317   2809627  8725.549689

In [22]:
### filtered to include March 2020 onwards
canada_covid_df["ObservationDate_dt"] >= "2020-03-01"
canada_covid_df2 = canada_covid_df[canada_covid_df["ObservationDate_dt"] >= "2020-03-01"]
canada_covid_df2

     ObservationDate_dt Country/Region Confirmed               Deaths  \
                                             sum         mean     sum
129          2020-03-31         Canada     52012   181.226481     564
339          2020-04-30         Canada    927235  2151.357309   40556
528          2020-05-31         Canada   2369720  5301.387025  174068
718          2020-06-30         Canada   3016433  7199.124105  245849
908          2020-07-31         Canada   3460185  7972.776498  274456
1098         2020-08-31         Canada   3854051  8880.301843  281379
1288         2020-09-30         Canada   3200571  9939.661491  212201

                 Recovered
            mean       sum         mean
129     1.965157      3886    13.540070
339    94.097448    296982   689.053364
528   389.413870   1147850  2567.897092
718   586.751790   1822913  4350.627685
908   632.387097   2656592  6121.179724
1098  648.338710   3403493  7842.149770
1288  659.009317   2809627  8725.549689